.align-right{
	text-align: right;
}

.heading-tab ul li{
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #ccc;
	float: left;
	text-transform: uppercase;

}
.heading-tab ul li a{
	text-decoration: none;
	text-transform: uppercase;
}
li.block{
	display: block;
	clear: both;
	width: 100%;
}
form.frm-add-package{
	border: 1px solid #ccc;
	padding: 20px;
	display: block;
	overflow: hidden;
}
.btn-delete{
	cursor: pointer;
}
ul.box-table{

}
ul.box-table{
	max-width: 1024px;
}
ul.box-table li{
	border:1px solid #ccc;
	border-top:0px;
	padding: 5px 0;
	margin: 0;
}
ul.box-table li.li-heading{
	border:1px solid #ccc;
	font-weight: bold;
}
.section-title{
	padding: 20px 0;
}
.box-section{
	max-width: 1024px;
}