.wrap-conent{


}
.align-right{
	text-align: right;
}
.f-right{
	float: right;
}
#general{
	background: #fff;
	max-width: 1120px;
	padding-top: 20px;
	padding-bottom: 20px;
}
#general h2{
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
.heading-tab ul li{
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-right: 0;
	float: left;
	text-transform: uppercase;

}
.toggle-line{
	margin-top: 15px;
}
.toggle.btn{
	border:1px solid #ccc;
}
.toggle.btn{
	min-width: 100px;
}
.heading-tab ul li:last-child{
	border-right: 1px solid #ccc;
}
.heading-tab ul li a{
	text-decoration: none;
	text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #686868;
}
li.block{
	display: block;
	clear: both;
	width: 100%;
}
form.frm-add-package{
	padding: 20px 0;
	display: block;
	overflow: hidden;
}
.frm-add-package .one-line{
	padding-bottom: 15px;
}
form .form-heading{
	padding-bottom:20px;
}
.btn-delete{
	cursor: pointer;
}
ul.box-table{

}
ul.box-table{
	max-width: 1024px;
}
ul.box-table li{
	border:1px solid #ccc;
	border-top:0px;
	padding: 5px 0;
	margin: 0;
}
ul.box-table li.li-heading{
	border:1px solid #ccc;
	font-weight: bold;
}
.section-title{
	padding: 20px 0;
	text-transform: uppercase;
}
.box-section{
	max-width: 1024px;
	padding: 0 0px 30px 0px;
	overflow: hidden;
	background: #fff;
}

.sub-section{

}
.sub-wrap{
	padding: 20px 0 20px 15px;
	overflow: hidden;
	display: block;
}
textarea{
	width: 100%;
	height: 120px;
	padding-top: 15px;
}
.sub-item{
	display: block;
    padding-bottom: 4px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 26px;

}
ul.block li{
	display: block;
	float: none;
}
#left_menu ul li{
    border: 1px solid #ccc;
    width: 100%;
    float: left;
    margin: 0;
    border-bottom: 0;

}
#sub_heading_menu ul li:last-child{
	border-bottom: 1px solid #ccc;
}
#sub_heading_menu ul li a{
	cursor: pointer;
	padding: 8px 0;
	float: left;
	border:1px solid #ccc;
	margin-right: 10px;
}
.second-content{
	display: none;
	clear: both;
}
.second-content.active{
	display: block;
}
.toggle-on.btn{
	background-color: #5cb85c;
}
div.mce-tinymce{
	border:1px solid #ccc !important;
}
#main_content{
	background: #fff;
	margin-left: 15px;
}