.align-right{
	text-align: right;
}
.f-right{
	float: right;
}

.heading-tab ul li{
	display: inline-block;
	padding: 10px 20px;
	border: 1px solid #ccc;
	border-right: 0;
	float: left;
	text-transform: uppercase;

}
.heading-tab ul li:last-child{
	border-right: 1px solid #ccc;
}
.heading-tab ul li a{
	text-decoration: none;
	text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    color: #686868;
}
li.block{
	display: block;
	clear: both;
	width: 100%;
}
form.frm-add-package{
	border: 1px solid #ccc;
	padding: 20px;
	display: block;
	overflow: hidden;
}
.frm-add-package .one-line{
	padding-bottom: 15px;
}
form .form-heading{
	padding-bottom:20px;
}
.btn-delete{
	cursor: pointer;
}
ul.box-table{

}
ul.box-table{
	max-width: 1024px;
}
ul.box-table li{
	border:1px solid #ccc;
	border-top:0px;
	padding: 5px 0;
	margin: 0;
}
ul.box-table li.li-heading{
	border:1px solid #ccc;
	font-weight: bold;
}
.section-title{
	padding: 20px 0;
	text-transform: uppercase;
}
.box-section{
	max-width: 1024px;
	border: 1px solid #ccc;
	padding: 0 30px 30px 30px;
	overflow: hidden;
}
.sub-section{
	padding: 0 15px;
}
.sub-wrap{
	padding: 20px 0 20px 15px;
	border:1px solid #ccc;
	overflow: hidden;
	display: block;
}
textarea{
	width: 100%;
	height: 120px;
	padding-top: 15px;
}
.sub-item{
	display: block;
    padding-bottom: 4px;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    margin-bottom: 26px;

}
ul.block li{
	display: block;
	float: none;
}